/*
-	Website 5 : Annapurna Bhojnalaya
-   CopyRight | All right Reserved
-   Designed by Mayank
-   CSS : css/style
*/
@import "main.css";
@import "responsive.css";
/*
    ------------------------
    | FONTAWESOME ICON URL |
    ------------------------
*/
@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,300i,600i,700i|Raleway:600,800");
/*
    please import this url and add webfonts folder
*/
*
{
    margin: 0;
    text-align: center;
    font-family:'arial';
}
.iconlist
{
    margin:5rem auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:5rem;
}

/*
    ------------------------
    | FontAsesome Icon CSS |
    ------------------------
*/
.fa
{
    margin: 0;
    padding: 0.5rem;
    font-size: 1.5rem;
}
/*
    SOLID -------------------------------
*/
.fa.solid:before
{
    font-weight: 900;
}
/*
    BRANDS ------------------------------
*/
.fa.brands:before
{
    font-family: 'Font Awesome 5 Brands';
}
/*
    [ THE END ] -------------------------
*/

*
{
    margin: 0;
    padding: 0;
    font-family:'calibri';
    color:var(--shade);
    border:none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root
{
    --white:#fff;
    --light:#df643f;
    --dark:#a73728;
    --black:#3d1f1d;
    --shade:#1e272e;
}
::-ms-scrollbar,
::-webkit-scrollbar
{
    width: 10px;
    background: transparent;
}
::-ms-scrollbar-thumb,
::-webkit-scrollbar-thumb
{
    background: var(--black);
    border-radius: 1rem;
}
/*
    MAIN CSS -------------------------------
*/
body
{
    position: relative;
    background:  url('../data/bg.jpg') no-repeat fixed;
    background-size: cover;
    overflow: hidden;
    overflow-y: auto;
}
main
{
    width: 100%;
    height: 100%;
    display: grid;
}
.frame
{
    min-height: 100vh;
}
/*
    HEADER CSS ----------------------------
*/
header
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    z-index: 1;
    background: var(--black);
}
#menu_btn
{
    display: none;
    padding: 5px 10px;
    background: transparent;
    font:1.5rem 'arial';
    color:var(--white);
}
#menu_btn:hover
{
    border:1px solid var(--dark);
}
nav a
{
    display: inline-block;
    padding: 1rem;
    letter-spacing: 1px;
    font:1rem 'arial';
    color:var(--white);
    background: var(--black);
}
nav a:hover
{
    color:var(--light);
}
/*
    FOOTER CSS ----------------------------
*/
footer
{
    text-align: center;
    background: var(--white);
}
.copy
{
    padding: 1rem;
    font-size: 1rem;
    color:var(--black);
}
/*
    THE END ===============================
*/